<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Add User</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="background">
    <form [formGroup]="createForm" (submit)="createUser()">
     <ion-item color="transparent">
        <ion-label color="primary" position="floating">Username</ion-label>
        <ion-input formControlName="username" type="text"></ion-input>
      </ion-item>
      <ion-item color="transparent">
        <ion-label color="primary" position="floating">Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-item color="transparent">
        <ion-select formControlName="hak_akses" placeholder="Pilih Hak akses">
          <ion-select-option value="1">Pelanggan</ion-select-option>
          <ion-select-option value="0">Admin</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="block" type="submit" [disabled]="!createForm.valid">Tambahkan User</ion-button>
    </form>"
  </ion-content>
  