<ion-header>
  <ion-toolbar color="primary">
    <ion-button (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
    </ion-button>
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/add-user">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item *ngFor = "let user of UserList" color="transparent">
    <ion-grid>
      <ion-row>
        <ion-col>User Name</ion-col>
        <ion-col>Hak Akses</ion-col>
        <ion-col size="2.5">Action</ion-col>
      </ion-row>
    <!-- contoh isiuser nanti -->
      <ion-row routerLink="/user-detail/{{user.key}}">
        <ion-col>{{user.username}}</ion-col>
        <ion-col>{{user.hak_akses}}</ion-col>
        <ion-col size="2.5">
          <!-- dalam kolom ini akan ada method untuk delete user (click)="deletuser ()" -->
          <ion-icon name="trash" (click)="delete(user.key, user.name)"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>