<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>User Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/add-lampu/{{data.key}}">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">Keterangan</ion-col>
        <ion-col size="2.5">Action</ion-col>
      </ion-row>

      <ion-row *ngFor="let data of lampu">
        <ion-col class="ion-text-center">{{data.key}}</ion-col>
        <ion-col size="2.5">
          <!-- dalam kolom ini akan ada method untuk delete user (click)="deletuser ()" -->
          <ion-icon name="trash"(click)="delete(data.key)"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>