<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Add Lampu</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content padding class="background">
          <ion-item color="transparent">
            <ion-label color="primary" position="floating">Username</ion-label>
            <ion-input [(ngModel)]="dataForm.username" type="text" placeholder="Username"></ion-input>
          </ion-item>
      
          <ion-item color=transparent>
            <ion-label color="primary" position="floating">Keterangan</ion-label>
            <ion-input [(ngModel)]="dataForm.Keterangan" type="text" placeholder="Lokasi Lampu"></ion-input>
          </ion-item>

          <ion-button expand="block" type="submit" (click)="createLampu()">Tambahkan Lampu</ion-button>
</ion-content>
  