<ion-header>
  <ion-toolbar color="primary">
    <ion-button (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
    </ion-button>
    <ion-title>Pelanggan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
    <ion-item color="transparent">
        <ion-grid >
          <ion-row>
            <ion-col size="3.5">Status</ion-col>
            <ion-col size="3.5">Otomatis</ion-col>
            <ion-col>Keterangan</ion-col>
          </ion-row>
          <!-- contoh di bawah -->
          <ion-row *ngFor="let data of lampu">
            <ion-col size="3.5" async (click)="updateLampu(data.key)">{{data.lampu.s_lampu}}
            </ion-col>
            <ion-col size="3.5" async (click)="updateFitur(data.key)">  {{data.fitur.s_fitur}}
            </ion-col>
            <ion-col>
              {{data.key}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item> 
</ion-content>