<!-- yang di dalam komentar codingan original dengan function/method
yg di luar itu blm ada method, cuman ada fisik button dan elemen html -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">SIKOLAMP</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="background" >
  <ion-item color="transparent">
      <ion-label color="dark" position="floating">Username</ion-label>
      <ion-input color="dark" [(ngModel)]="data.username"></ion-input>
    </ion-item>
    <ion-item color="transparent" >
      <ion-label color="dark" position="floating">Password</ion-label>
      <ion-input color="dark" type="password" [(ngModel)]="data.password"></ion-input>
    </ion-item>
  <ion-button expand="block" (click)="login()">Log In</ion-button>
</ion-content>